<form action="/singup" method="post">
  <label for="first_name">First Name
    <input type="text" name="first_name" placeholder="First Name">
  </label>
  <label for="last_name">Last Name
    <input type="text" name="last_name" placeholder="Last Name">
  </label>
  <label for="username">UserName
    <input type="text" name="username" placeholder="Username">
  </label>
  <label for="password">Password
    <input type="text" name="password" placeholder="Password">
  </label>
  <input type="submit" value="signup">
</form>
