<form action="/login" method="post" class="">
  <!-- <div class="form-group">
  <label for="username">
    <input class="input-group form-control" type="text" name="username" placeholder="Username">
  </label>
  <label for="password">
    <input class="input-group form-control" type="password" name="password" placeholder="Password">
  </label>
  <button class="btn btn-default" type="submit" value="login">Submit</button>
</div> -->
</form>
