
<<<<<<< HEAD

<div class="landing">

  <h1>Sign up to find YOUR Denver</h1>
  <p>

  </p>
<form action="/login" method="post" class="">
<img src="../images/add.png" alt="derp" />
<p>
  Add any place in Denver to your personal map
</p>
=======
>>>>>>> c3c5c93345d571a095708327b2189af1c6a7cb83
