<section class="full top firstImage imageHolder">
  <!-- <p>Want to Find New Places in Denver?</p> -->
  <button class="btn btn-default btn-lg scroll" type="button">Get started with Do Denver to find awesome new places to explore!</button>

</section>
<section class="full landingText">
  <h1 class="explanation-text">Use Do Denver to search for new places around Denver that you might want to check out: restaurants, bars, parks, and more.</h1>
  <h3 class="explanation-text">Your Do Denver map will show up on your homepage as a visual aid to see all the places that you want to try and have tried. </h3>
</section>
<div class="imageHolder">
  <section class="full secondImage"></section>
</div>
<section class="full landingText">
  <h3 class="explanation-text">Click login with pre-formatted guest information to sign in as a guest, and follow the directions on each page to use the site. Already have an account? Enter username and password and login to view your customized places.</h3>
</section>
<!-- <div class="imageHolder">
  <section class="full thirdImage">
  </section>
</div>
<section class="full landingText">
<h3 class="explanation-text"> Can’t find the place you are looking for in search? Just enter some information about the place, and click to add to your list! </h3>
  <h3 class="explanation-text">From Visited places, you can delete, rate or comment on any location. </h3>
</section>
<div class="imageHolder">
  <section class="full fourthImage">

  </section>
</div> -->
<script src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
<script src="../javascripts/dommanip.js"></script>
