<form action="/login" method="post" class="">

<!-- <form action="/login" method="post" class="">
>>>>>>> cf1ce38d8d9e1d22fcb18eb932ae0bd440a6d8e8
  <div class="form-group">
  <label for="username">
    <input class="input-group form-control" type="text" name="username" placeholder="Username">
  </label>
  <label for="password">
    <input class="input-group form-control" type="password" name="password" placeholder="Password">
  </label>
  <button class="btn btn-default" type="submit" value="login">Submit</button>
</div>
<<<<<<< HEAD
</form>

                    <!<input class="form-control hidden_form" type="submit" value="login"> -->
</form>
