<div class="landing">

  <h1>Sign up to find YOUR Denver</h1>
<form action="/login" method="post" class="">
  <label for="username">
    <input type="text" name="username" placeholder="Username">
  </label>
  <label for="password">
    <input type="password" name="password" placeholder="Password">
  </label>
  <input class="landButton" type="submit" value="login">
</form>

</div>
