<section class="full top blue">
  <button class="scroll" type="button">Learn More</button>
</section>
<section class="full white">
  <h1 class="explanation-text">Use Do Denver to search for new places around Denver that you might want to check out: restaurants, bars, parks, and more. Once you find a place you’d like to try, you can add it to your list of places you want to visit. You can also add places you have already visited, and add pictures, comments and ratings. Ready to get started?</h1>

</section>
<section class="full blue"></section>
<section class="full white">
  <h1 class="explanation-text">Your Do Denver map will show up on your homepage as a visual aid to see all the places that you want to try and have tried. </h1>
</section>
<section class="full blue">

</section>
<section class="full white">
  <h1 class="explanation-text">Your list of places to try will provide a more detailed list. Once you have visited a particular location, use your “I have tried this place” button to move it to your visited places list.</h1>
  <h1 class="explanation-text"> Can’t find the place you are looking for in search? Just enter some information about the place, and click to add to your list! </h1>
</section>
<section class="full blue">

</section>
<section class="full white">
  <h1 class="explanation-text">From Visited places, you can delete, rate or comment on any location. </h1>
</section>
<script src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
<script src="../javascripts/dommanip.js"></script>
