<link rel="stylesheet" href="/stylesheets/style.css">
<main class="full top blue">
  <button class="scroll" type="button">Learn More</button>
</main>
<main class="#full">
  <h1>I am an explanation of things in this app</h1>
</main>
<main class="full blue"></main>
<main class="full white">
  <h1>I am an explanation</h1>
</main>
<script src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
<script src="../javascripts/dommanip.js"></script>
