<main class="full top blue">
  <button class="scroll" type="button">Learn More</button>
</main>
<main class="full white">
  <h1 class="explanation-text">Use Do Denver to search for new places around Denver that you might want to check out: restaurants, bars, parks, and more. Once you find a place you’d like to try, you can add it to your list of places you want to visit. You can also add places you have already visited, and add pictures, comments and ratings. Ready to get started?</h1>
</main>
<main class="full blue"></main>
<main class="full white">
  <h1>I am an explanation</h1>
</main>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBzg50_Ei3s8Y6QWVBTzTz3imX-eVqGw8&callback=initMap&libraries=places" async defer></script>
<script src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
<script src="../javascripts/dommanip.js"></script>
