<h1>
  Welcome, {{user}}!
</h1>
<h4>
  Check out your map of Denver
</h4>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-2 col-xs-12">
      <div id="map">
      </div>
      <div class="col-md-2 col-xs-12">
        <img class="iVisit" src="http://www.girardonline.com/wp-content/uploads/2015/02/google-maps-marker-for-residencelamontagne-hi.png">
        <p>
          Place I Have Visited
        </p>
      </div>
      <div class="col-md-2 col-xs-12">
        <img class="wantVisit" src="http://www.clker.com/cliparts/T/Q/m/G/0/o/green-marker-black-border-hi.png">
          <p> Place I Want to Visit</p>
    </div>
  </div>
</div>
