

<h1>Welcome, {{user}}!</h1>
<h4>Check out your map of Denver</h4>

<!--
<a href="clients/todo"><button type="button">Things I Want to do in Denver</button></a>
<a href="clients/havedone"><button type="button">Things I Have Done in Denver</button></a>
<a href="clients/search"><button type="button">All of the things to do in Denver</button></a>
<a href="clients/logout"><button type="button">Log Out</button></a>
<p class="test">
    Click to add sample to database
</p> -->
<div id="map"></div>
<script src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBzg50_Ei3s8Y6QWVBTzTz3imX-eVqGw8&callback=initMap&libraries=places" async defer></script>
<script src="../javascripts/map.js"></script>
