<p>{{user}}</p>

<h1>
  {{title}}
</h1>
<a href="clients/todo"><button type="button">Things I Want to do in Denver</button></a>
<a href="clients/havedone"><button type="button">Things I Have Done in Denver</button></a>
<a href="clients/search"><button type="button">All of the things to do in Denver</button></a>
<a href="clients/logout"><button type="button">Log Out</button></a>
<p class="test">
    Click to add sample to database
</p>
<div id="map"></div>
