<h1>Comments</h1>
{{#each results}}
<div>
  <p>{{this.comment_body}}</p>
  <p>{{this.username}}</p>
    <a class="btn btn-default" href="/clients/havedone/comment/{{this.commentId}}/delete" role="button">Delete</a>
</div>
{{/each}}
