<a href="../clients"><button type="button">Home</button></a>
<a href="todo"><button type="button">Things I todo</button></a>
<a href="havedone"><button type="button">Things I have done</button></a>
<input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
<input class="categorySearch" type="text" name="category" placeholder="category">
<input class="searchTerm" type="text" name="query" placeholder="Search Term">
<div class="searchButton">Search</div>
{{#if output}}
<ul>
{{#each output}}
    <li> {{this}} </li>
{{/each}}
</ul>
{{/if}}

<script src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
<script src="../javascripts/googleSearch.js"></script>
