<p>
  sanity check
</p>
<a href="../clients"><button type="button">Home</button></a>
<a href="havedone"><button type="button">Things I have done</button></a>
<a href="search"><button type="button">Search for things to do></button></a>
