body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img{
  height: 25%;
  width: 25%;
}

#map {
    height: 100%;
}

.hidden_form{
  display: none;
}
.iVisit {
  /*height: 1rem;*/
  width: 2rem;
}
.wantVisit {
  /*height: 1rem;*/
  width: 2rem;
}

.add-margin {
  margin-top: 20px;
}

.logIn {
  background: none;
  border: none;
}

.signup{
  background-color: hsl(0,0%,98%);
}
